@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.container-header{
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.container-header header .logo a{
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #1cb698;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.container-header header nav ul li a:hover{
    color: #1cb698;
}

/*cajas*/
section{
    margin-top: 80px;
}
.portafolio{
    color: #fff;
    padding: 50px 20px;
}
.portafolio .container-section{
    text-align: center;
}
.portafolio .container-section h2{
    font-size: 50px;
    color: #1cb698;
}

.portafolio .container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    height: 100vh;
    gap: 50px;
    
}
.portafolio .container .caja{
 background: #252525;
   width: 310px;
   height: 360px;
   border-radius: 10%;
   
}
.portafolio .container .caja h2{
    color: #fff;
    font-size: 18px;
    margin-bottom: 2px;
}
.portafolio .container .caja p{
    font-size: 10px;
    margin-bottom: 6px;
}

.portafolio .container .caja img{
    margin-top: 20px;
    width: 260px;
    height: 260px;
    border-radius: 10%;
    margin-bottom: 2px;
    
}
.portafolio .container .caja .link{
    margin-top: auto;
    text-align: center;

}
.portafolio .container .caja .link a{
    margin: 20px;
    color: #fff;
    text-decoration: none;
}

.portafolio .container .caja .link a:hover{
    color: #1cb698;
}
.portafolio .container .caja .link a i{
    color: #fff;
}
/*FOOTER*/
 footer{
    background-color: black;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    position: relative;
    width: 100%;
 }
 footer .redes{
    margin-bottom: 20px;
 }

 footer .redes a{
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
 }

 footer .redes a:hover{
    background: #1cb698;
    border-color: #1cb698;
    transform: scale(1.1);
 }
 